{{  define "imports" -}}
    {{- if .ImportPath  }}
        {{ .MangledName }} "{{ .ImportPath }}"
    {{- end  }}
    {{- range $child := .Children -}}
        {{ template "imports" $child }}
    {{- end  }}
{{  end  }}
